<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">	
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div th:replace="layout/layout :: load"></div>
<div id="main-wrapper">
	<div th:replace="layout/layout :: header"></div>
	<div th:replace="layout/layout :: aside"></div>
	 <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Cliente</h3>                    
                    </div>  
                    <div>
                    	<button type="button" onclick="abrirModal(0)" class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10" data-toggle="modal" data-target="#exampleModal"><i style='font-size:33px' class="ti-plus text-white"></i></button>
                	</div>            
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Contenido de las Paginas -->
                <!-- ============================================================== -->
				     <!-- column -->
					<div class="row">
	                    <div class="col-12">
	                        <div class="card">
	                            <div class="card-body">                               
	                                <div class="table-responsive">
	                                    <table class="table">
	                                        <thead>
	                                            <tr>
	                                                <th>ID</th>
	                                                <th>CORREO</th>
	                                                <th>FECHA DE REGISTRO</th>
	                                                <th>LOGIN</th>
	                                                <th>PASSWORD</th>
	                                                <th>DIRECCION</th>
	                                                <th>ESTADO</th>
	                                                <th>UBIGEO</th>	                                                
	                                                <th>ACCIONES</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody id="table">                                 
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
				   </div>		
				<!-- ============================================================== -->
                <!-- End Contenido de las Paginas -->
                <!-- ============================================================== -->                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->           
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Modal  -->
        <!-- ============================================================== -->
		<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		          <div class="card">
                            <div class="card-body">                                
                                <form class="form-material m-t-10 row">
                                	<input type="hidden" id="txtID" value="">
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="text" id="txtCorreo" name="correo" class="borrar form-control form-control-line" placeholder="Correo del Cliente">
                                    </div>
                                    
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="date" id="txtfechaRegistro" name="fechaRegistro" class="borrar form-control form-control-line" placeholder="Fecha Registro del Cliente">
                                    </div>
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="text" id="txtLogin" name="login" class="borrar form-control form-control-line" placeholder="Login">
                                    </div>
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="text" id="txtPassword" name="password" class="borrar form-control form-control-line" placeholder="Password">
                                    </div>
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="text" id="txtDireccion" name="direccion" class="borrar form-control form-control-line" placeholder="Direccion del Cliente">
                                    </div> 
                                    <div class="form-group col-md-6 m-t-20">
                                        <input type="text" id="txtEstado" name="estado" class="borrar form-control form-control-line" placeholder="Estado del Cliente">
                                    </div>                                              
                                    <div class="form-group col-md-3 m-t-20">
                                        <select id="cboUbigeo" class="borrar form-control">
                                          <option>Ubigeo</option>                            
                                        </select>
                                    </div>                                    
                                                                    
                                </form>
                            </div>
                        </div>
		      </div>
		      <div class="modal-footer">
		        <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		        <button onclick="save()" type="button" class="btn btn-success">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
         <!-- ============================================================== -->
        <!-- End Modal  -->
        <!-- ============================================================== -->   
</div>		
	<div th:replace="layout/layout :: script"></div>	
	<script type="text/javascript" th:src="@{/assets/js/MetodosGlobales/globales.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/cliente/cliente.js}"></script>
	<script type="text/javascript" th:src="@{/assets/sweetalert2/sweetalert2@9.js}"></script>
</body>
</html>

