<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">	
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div th:replace="layout/layout :: load"></div>
<div id="main-wrapper">
	<div th:replace="layout/layout :: header"></div>
	<div th:replace="layout/layout :: aside"></div>
	 <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Panel Principal</h3>                    
                    </div>              
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Contenido de las Paginas -->
                <!-- ============================================================== -->
				    
			
				<!-- ============================================================== -->
                <!-- End Contenido de las Paginas -->
                <!-- ============================================================== -->                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->           
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
</div>		
	<div th:replace="layout/layout :: script"></div>	
</body>
</html>

